@model List<Ejercicio1.Models.Entity.clsPerson>

<h2>Listado de Personas</h2>

<table border="1">
    <thead>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Age</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var person in DAL)
        {
            <tr>
                <td>@person.name</td>
                <td>@person.surname</td>
                <td>@person.age</td>
            </tr>
        }
    </tbody>
</table>

<p>@Html.ActionLink("Volver al Index", "Index", "Home")</p>